Test {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

Button {
    width: 20;
}

#start {
    dock: left;
}

#stop {
    dock: right;
    /* display: none; */
}